#chat-screen {
  background-color: #abc1d1;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 9;
}
#chat-screen .alt-header {
  top: 10px;
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  color: #fff;
  opacity: 0.5;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  border-radius: 22px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 42%;
  margin-right: 10px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__author {
  display: block;
  margin-bottom: 5px;
  opacity: 0.8;
  font-size: 14px;
}
.message__bubble {
  background-color: #fff;
  padding: 12px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
  font-size: 18px;
}
.message__time {
  opacity: 0.6;
  font-size: 12px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--main);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
